/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	min-width: 800px;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 80px;
	background: #FF359A;
}

.header a:link
{
	text-decoration: none;
	color: #FFFFFF;
}

.header a:visited
{
	text-decoration: none;
	color: #FFFFFF;
}

.menu li a div:hover
{
	background-color: #D9006C;
}

.menu ul
{
	margin:0px;
}

.menu li
{
	float: left;
	margin-left: 10px;
}

.menu li div
{
	width:100px;
	height: 23px;
	border: 2px solid #FFFFFF;
	background-color: #FF359A;
	padding-top: 2px;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 80px;
}

table
{
	margin: 0 auto;
	margin-top: 10px;
	border: 2px solid #666666;
	font-size: 16px;
}

#customer_list tr:hover
{
	background-color: #FFB7DD;
}

#customer_list td
{
	padding: 3px;
	border: 1px solid #AAAAAA;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -80px auto 0;
	min-width: 800px;
	max-width: 1000px;
	height: 80px;
	background: #FF95CA;
	position: relative;
}