<style type="text/css">
	img
	{
		margin-left: 5px;
	}
	
	#promp table
	{
		font-size: 12px;
		width: 350px;
		border: 2px solid #FFB7DD;
	}

	#promp td
	{
		padding:3px;
	}
	
	#promp #addr, #fb
	{
		width: 260px;
	}

	.cus, .delBtn, .editBtn
	{
		cursor: pointer;
	}

	a:link, a:visited
	{
		color:#000000;
	}



</style>
<link  rel="stylesheet" type="text/css" href="{css}/twbspagination.css" />
<script type="text/javascript" src="{js}/jquery.twbsPagination.min.js"></script>
	<main class="content">
		<div>
			<table id="customer_list" width="600">
				<tr style="background-color: #FFC8B4;">
					<td width="5%"></td>
					<td width="20%">客戶編號</td>
					<td width="20%">姓名</td>
					<td width="20%">電話</td>
					<td width="20%">方便聯絡時間</td>
					<td>動作</td>
				</tr>
				{data}
				<tr>
					<td></td>
					<td><a href="./Customer/cinfo/{CUS_ID}">{CUS_ID}</a></td>
					<td><a href="./Customer/cinfo/{CUS_ID}">{NAME}</a></td>
					<td>{PHONE}</td>
					<td>{CAN_CALL}</td>
					<td>
						<img class="delBtn" src="./asset/images/delete.png">
						<a href="./Customer/question/{CUS_ID}"><img class="editBtn" src="./asset/images/edit.png" style="margin-left:5px;"></a>
					</td>
				</tr>
				{/data}
			</table>
		</div>
		<div id="pagination" class="pagination-sm" style="width:500px;margin:0 auto; text-align:center;"></div>
	</main><!-- .content -->
<script type="text/javascript">
	$(function(){

		var total_pages = {total_pages};
		var visible_pages = 5;

		if(total_pages < visible_pages)
		{
			visible_pages = total_pages;
		}

		$('#pagination').twbsPagination({
	        totalPages: {total_pages},
	        visiblePages: visible_pages,
	        href: './Customer/p/{{number}}'
	    });

			
		$('.delBtn').click(function(){
			var cus_id = $(this).parent().parent().children().eq(1).text();
			var cus_name = $(this).parent().parent().children().eq(2).text();

			/* 刪除 */
			var delstate = {
				'st0' : {
					title: '【警告】',
					html : '<div style="font-size:16px;font-weight:bold;color:red;">確定刪除 '+ cus_name +'  ?</div>',
					buttons : {"確定" : true, "取消" : false},
					submit : function(e,v,m,f){
						if(v)
						{
							e.preventDefault();

							var jsonstr = JSON.stringify({"cus_id":cus_id});
							$.post(
									"/marykay/Customer/delcus",
									{data:jsonstr},
									function(res)
									{
										if(res.status == '100')
										{
											$.prompt.goToState('st1');
										}
										else
										{
											$.prompt.goToState('st2');
										}

									},
									"json"
								);
							
							return false;
						}
						else
						{
							$.prompt.close();
						}
					}
				},
				'st1' : {
					html : '<div style="font-size:16px;font-weight:bold;color:green;">刪除成功</div>',
					buttons : {"確定":true},
					submit : function(e,v,m,f){
						if(v)
						{
							$.prompt.close();
							history.go(0);
						}
					}
				},
				'st2' : {
					html : '<div style="font-size:16px;font-weight:bold;color:red;">刪除失敗</div>',
					buttons : {"確定":true},
					submit : function(e,v,m,f){
						if(v)
						{
							$.prompt.close();
							history.go(0);
						}
					}
				}
			};

			$.prompt(delstate);
		});

		/* detail */
		$(".cus").click(function(){
			var cus_id = $(this).parent().children().eq(1).text();
			var jsonstr = JSON.stringify({"cus_id":cus_id});
			var cus_info;


			/* ajax post */
			$.post('./Customer/getcus',
					{data:jsonstr},
					function(res)
					{
						if(res.status == '100')
						{
							cus_info = res.data;

							var can_call_html = '';
							switch(cus_info.CAN_CALL)
							{
								case '1':
									can_call_html = '<input name="can_call" type="radio" value="1" checked="true" />上午<input name="can_call" type="radio" value="2" />下午<input name="can_call" type="radio" value="3" />晚上';
									break;
								case '2':
									can_call_html = '<input name="can_call" type="radio" value="1" />上午<input name="can_call" type="radio" value="2" checked="true" />下午<input name="can_call" type="radio" value="3" />晚上';
									break;
								case '3':
									can_call_html = '<input name="can_call" type="radio" value="1" />上午<input name="can_call" type="radio" value="2" />下午<input name="can_call" type="radio" value="3" checked="true" />晚上';
									break;
								default:
									can_call_html = '<input name="can_call" type="radio" value="1" checked="true" />上午<input name="can_call" type="radio" value="2" />下午<input name="can_call" type="radio" value="3" />晚上';
									break;
							}

							var view_format = '<div id="promp"><table><tr>'+
												'<td width="20%" align="right">客戶編號 </td>'+'<td>'+ cus_info.CUS_ID +'</td>'+
											'</tr>'+
											'<tr>'+
												'<td align="right">姓名 </td><td><input id="name" type="text" value="'+ cus_info.NAME +'" /></td>'+
											'</tr>'+
											'<tr>'+
												'<td align="right">FB </td><td><input id="fb" type="text" size="20" value="'+ cus_info.FB +'" /></td>'+
											'</tr>'+
											'<tr>'+
												'<td align="right">電話 </td><td><input id="phone" type="text" value="'+ cus_info.PHONE +'" /></td>'+
											'</tr>'+
											'<tr>'+
												'<td align="right">地址 </td><td><input id="addr" type="text" value="'+ cus_info.ADDR +'" size="20" /></td>'+
											'</tr>'+
											'<tr>'+
												'<td align="right">可聯絡時間 </td><td>'+ can_call_html +'</td>'+
											'</tr></table></div>';

							var detail_cus = {
								'info' : {
									title : '【客戶資料】',
									html : view_format,
									buttons : {"修改" : true, "取消" : false},
									submit : function(e,v,m,f){

									}
								}
							};
							$.prompt(detail_cus);
						}
						else
						{
							$.prompt("查詢失敗");
							return;
						}

					},
					"json"
				);

			
		});
	});
</script>