<style type="text/css">
	tr:hover
	{
		background-color: #FFB3FF;
	}
</style>
<div id="container">
	<div id="header">
		<div id="title">{title}</div>
	</div>
	<div id="main">
		<div style="width:800px;text-align: center;margin: 0 auto;">
		<table width="800" border="1" cellpadding="2" cellspacing="0">
			<tr>
				<td>客戶編號</td>
				<td>姓名</td>
				<td>電話</td>
				<td>生日</td>
				<td>FB</td>
				<td>地址</td>
			</tr>
			<tr>
				<td>CS0001</td>
				<td>劉笨蛋</td>
				<td>0987878787</td>
				<td>1992年3月7日</td>
				<td>我怎麼會知道</td>
				<td>火星上</td>
			</tr>
			<tr>
				<td>CS0002</td>
				<td>金城武</td>
				<td>097878777</td>
				<td>1980年?月?日</td>
				<td>我怎麼會知道</td>
				<td>太陽上</td>
			</tr>
		</table>
		<div>

	</div>		
</div>
