<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>【MaryKay】流星的美麗事業</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link  rel="stylesheet" type="text/css" href="{css}/style.css" />
	<link  rel="stylesheet" type="text/css" href="{js}/jq-impromptu/jquery-impromptu.min.css" />
	<script type="text/javascript" src="{js}/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{js}/jq-impromptu/jquery-impromptu.min.js"></script>
</head>

<body>
<div class="wrapper">

	<header class="header">
		<div style="font-size: 36px; color:#FFFFFF; text-align: center;padding-top: 10px;">{title}<div>
		<div class="menu" style="width: 550px;font-size: 16px;margin:0 auto;margin-top:20px;">
			<ul>
				<li><a href="{base_url}Customer"><div>客戶列表</div></a></li>
				<li><a href="{base_url}Customer/add"><div>新增客戶</div></a></li>
			</ul>
		</div>
	</header><!-- .header-->

{content}

</div><!-- .wrapper -->

<footer class="footer">
	<div style="color: #5B5B5B; font-size: 16px; font-weight: bold;float:right;">
		<strong>Design by Weine</strong>
	</div>
</footer><!-- .footer -->

</body>
</html>